@model IEnumerable<Inhale.Models.Recipe>

@{
    ViewData["Title"] = "MyRecipes";
}


<p>
    <a asp-action="Create">Add Recipe</a>
</p>
<div class="recipeCards">
    @foreach (var recipe in Model)
    {
    <div class="recipeCard">
        <div class="recipeName">
            @Html.DisplayFor(modelItem => recipe.Name)
        </div>
        <div>
            @Html.DisplayFor(modelItem => recipe.RecipeNotes)
        </div>
        <div>
            @Html.DisplayFor(modelItem => recipe.RecipeType.Name)
        </div>
        @{
            @String.Join(", ", recipe.RecipeIngredients.Select(ri => ri.Ingredient.Name))
            @String.Join(", ", recipe.RecipeIngredients.Select(ri => ri.Amount))


        }

        <div>
            <a asp-action="Edit" asp-route-id="@recipe.RecipeId">Edit</a> |
            <a asp-action="Delete" asp-route-id="@recipe.RecipeId" title="Delete">
                <span style="color: black;">
                    <i class="far fa-trash-alt"></i>
                </span>
            </a>
        </div>
    </div>
    }
</div>
