@model IEnumerable<Inhale.Models.FavoriteRecipes>

@{
    ViewData["Title"] = "Index";
}


<p>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe.RecipeNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe.RecipeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe.RecipeIngredients)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Recipe.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.RecipeNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.RecipeType.Name)
            </td>
            @foreach (var r in item.Recipe.RecipeIngredients)
        {
             <td>
                @Html.DisplayFor(modelItem => r.Ingredient.Name)
            </td>
        }
          
            <td>

                <a asp-action="Delete" asp-route-id="@item.FavoriteRecipesId">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
